<div>
  <div style="text-align: center">
    <form [formGroup]="credForm">
      <label>JID:</label>
      <input type="text" input-form-content formControlName="jid" value="">
      <label>Password:</label>
      <input type="password" input-form-content formControlName="passwd" value="">
      <input type="button" value="connect" (click)="connectXmpp()">
    </form>

    <form [formGroup]="messageForm">
      <label>to:</label>
      <input type="text" input-form-content formControlName="to" value="">
      <label>message:</label>
      <input type="text" input-form-content formControlName="message" value="">
      <input type="button" value="send" (click)="sendMessage()">
    </form>
  </div>
  <hr>
  <ul class="log">
    <div>{{logMsg}}</div>
    <div>{{msgStatus}}</div>
    <div>{{messg}}</div>
    <div>{{onMesg1}}</div>
    <div>{{onMesg2}}</div>
  </ul>
</div>
